@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Bebas Neue', sans-serif;
}
.header{
    height: 120px;
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2272FF;
    font-size: 50px;
}
.header:hover{
    background-color: #1D1D1D;
}
.container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.buttonsContainer{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.buttonWrapper{
    display: block;
    text-align: center;
}
.textUnderButton{
    font-size: 20px;
}
.rockButton{
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
}
:hover {
    border-color: #000000;
    background: #f7f7f7;
} 
.paperButton{
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
}
:hover {
    border-color: #000000;
    background: #f7f7f7;
} 
.scissorsButton{
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
}
:hover {
    border-color: #000000;
    background: #f7f7f7;
} 
.rockButton img{
    height: 50px;
    width: 50px;
}
.scissorsButton img{
    height: 50px;
    width: 50px;
}
.paperButton img{
    height: 50px;
    width: 50px;
}
.resultWrapper{
    display: flex;
    justify-content: center;
}
.result{
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}
.cardChoice{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    border: 1px solid #222222;
    font-size: 20px;
}
.cardChoice img{
    height: 100px;
    width: 100px;
}
.score{
    font-size: 50px;
}
.restartButton{
    border-radius: 8px;
    padding: 13px 23px;
    border: 1px solid #222222;
    font-family: 'Bebas Neue', sans-serif;
}
.resContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer{
    margin-top: 70px;
    flex-shrink: 0;
    background-color: #1D1D1D;
    height: 80px;
}
.footer p{
    font-size: 18px;
    color: #2272FF;
    text-align: center;
}